*{
    box-sizing: border-box;
    background-color: #000 !important;

}

.movie-container {
    margin: 0;
    width: 100%;

}

.movie-details{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 10px;

}


.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 50%;
}
.movie-title{
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
}

.movie-description{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    padding: 20px;
}

.movie-rating{
    color: #fff;
    font-size: 2em;
}
.release-date{
    color: #fff;
    font-size: 2em;

}

.movie-runtime{
    color: #fff;
    font-size: 2em;
}

