.main-container{
    padding: 10px;
    background-color: #000 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poster-image{
    width: 180px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}


.poster-image:hover{
    transform: scale(0.85);
}